

.DS_Store
Thumbs.db

bin/
obj/
packages/
node_modules/
wwwroot/

*.suo
*.user
*.vs/
*.vscode/
VROOM.Services/obj/
VROOM.Services/bin/
ViewModels/obj/
ViewModels/bin/
Models/obj/
Models/bin/
Repository/bin/
Repository/obj/
Data Layer/bin/
Data Layer/obj/
API/bin/
API/obj/
*.dll
*.pdb
*.cache




appsettings*.json
secrets.json