.DS_Store
Thumbs.db

bin/
obj/
packages/
node_modules/
wwwroot/

*.suo
*.user
*.vs/
*.vscode/

appsettings*.json
secrets.json

VROOM.AdminArea/bin/
VROOM.AdminArea/obj/

VROOM.API/bin/
VROOM.API/obj/

VROOM.Data/bin/
VROOM.Data/obj/

VROOM.Models/bin/
VROOM.Models/obj/

VROOM.Repositories/bin/
VROOM.Repositories/obj/

VROOM.Services/bin/
VROOM.Services/obj/
